.one {
  position: absolute;
  left: 210px;
  top: 230px;
  width: 5px;
  height: 55px;
  background: white;
  transition: transform 2s;
  transform: translate(0px, 0px);
}

.zero {
  position: absolute;
  left: 270px;
  top: 230px;
  width: 15px;
  height: 45px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  transition: transform 2s;
  transform: translate(0px, 0px);
}

.text1-1 { position:absolute; z-index:1; width:220px; margin-top:-440px; margin-left:15px; }
.text1-2 { position:absolute; z-index:1; width:140px; margin-top:-413px; margin-left:20px; }
.text1-3 { position:absolute; z-index:1; width:120px; height:28px; margin-top:-400px; margin-left:20px; }
.text1-4 { position:absolute; z-index:1; width:60px; height:22px; margin-top:-380px; margin-left:193px; }
.text1-5 { position:absolute; z-index:1; width:220px; margin-top:-375px; margin-left:40px; }
.text1-6 { position:absolute; z-index:1; width:150px; margin-top:-348px; margin-left:108px; }
.text1-7 { position:absolute; z-index:1; width:140px; margin-top:-332px; margin-left:14px; }
.text1-8 { position:absolute; z-index:1; width:230px; margin-top:-320px; margin-left:14px; }