.one {
  position: absolute;
  left: 210px;
  top: 230px;
  width: 10px;
  height: 90px;
  background: white;
  transition: transform 3s;
  transform: translate(0px, 0px);
}

.zero {
  position: absolute;
  left: 270px;
  top: 230px;
  width: 30px;
  height: 70px;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  transition: transform 3s;
  transform: translate(0px, 0px);
}

.text3-1 { position:absolute; z-index:1; width:220px; margin-top:-440px; margin-left:42px; }
.text3-2 { position:absolute; z-index:1; width:220px; margin-top:-395px; margin-left:13px; }
.text3-3 { position:absolute; z-index:1; width:230px; margin-top:-345px; margin-left:30px; }
.text3-4 { position:absolute; z-index:1; width:220px; margin-top:-330px; margin-left:42px; }
.text3-5 { position:absolute; z-index:1; width:220px; margin-top:-282px; margin-left:13px; }